

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 43px;
    color: rgba(12, 12, 12, 1);
}

.cart-container {
    max-width: 100%;
}

.card {
    background-color: rgba(243, 243, 243, 1);
    border-radius: 8px;
    margin:8px;
    margin-bottom: 32px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 402px;
    width: 359px;
    padding-bottom: 16px;
}

.product-image {
    width: 122px;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.12);
    margin-top: 32px;
    margin-bottom: 16px;
}

.product-title {
    font-size: 1.2em;
    margin-bottom: 24px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 32.36px;
}

.decrement, .increment {
    background-color: rgba(255, 129, 0, 1);
    color: white;
    border: none;
    font-size: 2rem;
    width: 38.64px;
    height: 38.64px;
    cursor: pointer;
    border-radius: 100px;

}

.quantity {
    width: 40px;
    text-align: center;
    background-color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(12, 12, 12, 1);
}

.product-price {
    font-size: 32px;
    color: rgba(39, 38, 53, 1);
    line-height: 38.4px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 32px;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 375px;
    height: 77px;
    border-top: 1px solid rgba(186, 186, 186, 1);
}

.buy-button {
    background-color: rgba(255, 129, 0, 1);
    width: 292px;
    height: 45px;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    cursor: pointer;
    border-radius: 16px;
    margin: 16px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 10px;
}
