
.character-character-details-container { 
    top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    margin-top: 120px;
}

.character-character-details-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px 0px 24px 0px;
}

.character-button-section {
    width: 100%;
}

.character-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 30px;
    font-weight: 700; 
    margin-bottom: 20px;
    margin-right: auto;
}

.character-info-title {
    font-size: 19px;
    font-family: 'Sofia Sans', sans-serif;
    color: #BABABA;
    margin: 22px 12px 0px 12px;
}

.character-info-value {
    font-size: 15px;
    font-family: 'Sofia Sans', sans-serif;
    color: rgba(12, 12, 12, 1);
    margin: 2px 72px 0px 12px;   
    font-weight: 700; 
}

.character-info-container {
    font-size: 15px;
    font-family: 'Sofia Sans', sans-serif;
    color: rgba(12, 12, 12, 1);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-items: flex-start;
    display: flex;
}

.character-character-list-title {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 19px;
    color: #BABABA;
    margin: 22px 0px 20px 12px;
}

.character-a-character {
    margin-left: 15%;
}

.character-characters-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
    font-family: 'Sofia Sans', sans-serif;
    width: 100%; 
    justify-items: flex-start;
}

.character-character-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.character-character-name {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 9.6px;  
    margin-top: 8px;
    margin-left: 12px;
    width: 100%;
}

.character-character-details-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character-character-image {
    width: 100%;
    height: 150px; 
    object-fit: cover;
}

.character-character-other-characters-title {
    font-size: 1.5rem; 
    color: #000000;
    margin-bottom: 20px;
    margin-left: 12px;
    font-family: 'Sofia Sans', sans-serif;
}


.character-other-character-item {
    flex: 0 0 120px; 
    text-align: center;
}

.character-character-image {
    width: 100%;
    height: 150px; 
    object-fit: cover;
}

.character-character-name {
    margin-top: 0.2rem;
    font-size: 0.9rem; 
    font-weight: bold;
    color: #333;
}

.character-character-details {
    width: 320px;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 6px 20px 10px rgba(0, 0, 0, 0.character-12);
}

.character-character-details-name {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 28px;
    color: rgba(12, 12, 12, 1);
    text-align: center;
    font-weight: 800;
    margin: 0px;
    margin-left: 3.2%;
}

.character-other-characters-section {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.character-character-description-title{
    font-size: 19px;
    font-family: 'Sofia Sans', sans-serif;
    color: #BABABA;
    margin: 22px 12px 0px 12px;
}

.character-character-description{
    font-size: 15px;
    font-family: 'Sofia Sans', sans-serif;
    color: rgba(12, 12, 12, 1);
    margin: 2px 72px 0px 12px;
    font-weight: 700;
}

.character-character-stories-title{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 19px;
    color: #BABABA;
    margin: 22px 0px 20px 12px;
}


@media (min-width: 1024px) {
    .character-other-characters-list {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        overflow-x: auto;
    }

    .character-character-details-container {
        width: 65%;
        margin: 120px auto;
    }

    .character-other-character-item {
        flex: 0 0 150px;
        text-align: center;
    }

    .character-other-character-image {
        height: auto;
        width: 85%;
    }

    .character-character-details-image {
        width: 300px;
        height: 430px;
        object-fit: contain;
        border-radius: 24px 0px 24px 0px;
    }

    .character-character-other-characters-title {
        width: 50%;
    }

    .character-character-item {
        width: 47%;
        height: 63%;
    }

    .character-button-section {

    }

    .character-back-button {
        display: flex;
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-family: 'Sofia Sans', sans-serif;
        margin-left: -22%;
        position: relative;
        padding-left: 24%;
        padding-bottom: 40px;
        font-size: 24px;
        font-weight: 800;
        line-height: 28.8px;
        margin-bottom: 60px;
    }

    .character-main-information-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -120px;
    }

    .character-info-item {
        font-size: 16px;
        font-family: 'Sofia Sans', sans-serif;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }

    .character-info-price {
        font-family: 'Sofia Sans', sans-serif;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        text-align: left;
        margin: 0px;
        margin-left: 3.2%;
    }

    .character-info-value {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5px;
    }

    .character-characters-list {
        justify-items: center;
        width: 70%;
        height: 100px;
    }

    .character-character-image {
        object-fit: contain;
    }

    /* Outros quadrinhos */
    .character-other-characters-list {
        gap: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        scrollbar-color: rgba(255, 129, 0, 1) #BABABA;
    }

    .character-character-details-name {
        text-align: left;

    }

    .character-character-informations {

    }

    .character-character-buttons {
        display: flex;
    
    }
    
    .character-character-characters {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}
