body
{
    
    background-color: gray;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img
{
    height: 300px;
    width: auto;
}

#creator-price
{
    display: flex;
    flex-direction: row;
}