.info-price-comic{

    font-family: 'Sofia Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19.2px;
    text-align: left;
    color: rgba(255, 129, 0, 1);
    margin-left: 3.2%;
    width: 90%;
}

.comic-details-container-comic { 
    top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-top: 120px;
    padding: 10px;

}

.comic-image-container-comic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-section-comic{
    width: 100%;
}

.back-button-comic {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 30px;
    font-weight: 700; 
    margin-bottom: 20px;
    margin-right: auto;
}

.info-title-comic {
    font-size: 19px;
    font-family: 'Sofia Sans', sans-serif;
    color: #BABABA;
    margin: 22px 12px 0px 12px;
}

.info-value-comic {
    font-size: 15px;
    font-family: 'Sofia Sans', sans-serif;
    color: rgba(12, 12, 12, 1);
    margin: 2px 72px 0px 12px;   
    font-weight: 700; 
}

.info-container-comic {
    font-size: 15px;
    font-family: 'Sofia Sans', sans-serif;
    color: rgba(12, 12, 12, 1);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-items: flex-start;
    width: 90%;
}

.character-list-title-comic {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 19px;
    color: #BABABA;
    margin: 22px 0px 20px 12px;
}

.a-comic-comic{
    margin-left: 15%;
}

.characters-list-comic {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
    font-family: 'Sofia Sans', sans-serif;
    width: 100%; 
    justify-items: flex-start;

}

.character-item-comic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.character-name-comic {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 9.6px;  
    margin-top: 8px;
    margin-left: 12px;
    width: 100%;
}

.character-image-comic {
    width: 80px;
    height: 90.96px;
    gap: 0px;
    border-radius: 24px 0px 24px 0px;
    opacity: 0px;    
    object-fit: cover;
    margin-bottom: 3px;
}

.other-comics-title-comic {
    font-size: 1.5rem; 
    color: #000000;
    margin-bottom: 20px;
    margin-left: 12px;
    font-family: 'Sofia Sans', sans-serif;
}

.other-comics-list-comic {
    display: flex;
    gap: 10px; 
    overflow-x: auto; 
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 129, 0, 1) #BABABA; 
    padding-bottom: 5px; 
    margin-bottom: 0; 
}

.other-comic-item-comic {
    flex: 0 0 120px; 
    text-align: center;
}

.other-comic-image-comic {
    width: 100%;
    height: 150px; 
    object-fit: cover;
}

.other-comic-name-comic {
    margin-top: 0.2rem;
    font-size: 0.9rem; 
    font-weight: bold;
    color: #333;
}

.comic-details-image-comic {
    width: 320px;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 6px 20px 10px rgba(0, 0, 0, 0.12);
}

.comic-details-name-comic {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 28px;
    color: rgba(12, 12, 12, 1);
    text-align: left;
    font-weight: 800;
    margin: 0px;
    margin-left: 3.2%;
    width: 90%;
}

.other-comics-section-comic{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.comic-characters-comic{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.comic-buttons-comic {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    gap: 16px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .add-to-cart-button-comic, .buy-now-button-comic {
    flex: 1;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    padding: 8px;
    margin-top: 10px;
    
  }
  
  .add-to-cart-button-comic {
    background-color: white;
    color: black;
    border: 1.4px solid black;

  }
  
  .buy-now-button-comic {
    background-color: rgba(255, 129, 0, 1);
    color: #fff;
    border: 1.4px solid rgba(255, 129, 0, 1);
  }
  

  .comic-informations-comic{
    width: 90%;
    margin: auto;
  }


@media (min-width: 1024px) {
    .other-comics-list-comic {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        overflow-x: auto;
    }

    .comic-details-container-comic {
        width: 65%;
        margin: 120px auto;
    }

    .other-comic-item-comic {
        flex: 0 0 150px;
        text-align: center;
    }

    .other-comic-image-comic {
        height: auto;
        width: 85%;
    }

    .comic-details-image-comic {
        object-fit: contain;
    }

    .other-comics-title-comic {
        width: 50%;
    }

    .character-item-comic {
        width: 47%;
        height: 63%;
    }

    .button-section-comic{

    }

    .back-button-comic {
        display: flex;
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-family: 'Sofia Sans', sans-serif;
        margin-left: -22%;
        position: relative;
        padding-left: 24%;
        padding-bottom: 40px;
        font-size: 24px;
        font-weight: 800;
        line-height: 28.8px;
        margin-bottom: 60px;
    }

    .main-information-container-comic {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: -120px;
    }

    .info-item-comic {
        font-size: 16px;
        font-family: 'Sofia Sans', sans-serif;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }

    .info-price-comic{
        font-family: 'Sofia Sans', sans-serif;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        text-align: left;
        margin: 0px;
        margin-left: 3.2%;
    }

    .info-value-comic {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
    }

    .characters-list-comic {
        justify-items: center;
        width: 70%;
        height: 100px;
        padding: 5px;
    }

    .character-image-comic {
        object-fit: contain;
    }

    /* Outros quadrinhos */
    .other-comics-list-comic {
        gap: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        scrollbar-color: rgba(255, 129, 0, 1) #BABABA;
    }

    .comic-details-name-comic {
        text-align: left;

    }


    .comic-buttons-comic {
        display: flex;
    
    }
    
    .comic-characters-comic{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .comic-buttons-comic {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        gap: 16px;
        margin-top: 20px;
        flex-direction: row;
      }
      
      .add-to-cart-button-comic, .buy-now-button-comic {
        flex: 1;
        font-family: 'Sofia Sans', sans-serif;
        font-size: 14px;
        font-weight: 800;
        cursor: pointer;
        border: none;
        border-radius: 16px;
        padding: 8px;
        margin-top: 10px;
        
      }
      
      .add-to-cart-button-comic {
        background-color: white;
        color: black;
        border: 1.4px solid black;
    
      }
      
      .buy-now-button-comic {
        background-color: rgba(255, 129, 0, 1);
        color: #fff;
        border: 1.4px solid rgba(255, 129, 0, 1);
      }
      
}
