/* Spinner.css */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura total da tela */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo levemente transparente, se desejar */
}

.spinner {
    width: 600px; 
    height: auto; 
    margin: 0 auto; 
}
